asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
cloudinary==1.44.0
Django==4.2.20
django-cloudinary-storage==0.3.0
django-jazzmin==3.0.1
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==10.4.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.0
tzdata==2025.2
urllib3==2.2.3
whitenoise==6.7.0
