{% extends 'faculty/teacher_base.html' %}
{% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Available Semester</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Available Semester</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-2" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <div class="container-fluid">
        <!-- row -->
        <div class="row">

            {% for sem in semester %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Semester - {{ sem }}</h3>


                        <a href="{% url 'faculty:manage_timetable_semester' sem %}"
                            class="btn {% cycle 'btn-success' 'btn-primary' 'btn-danger' 'btn-info' %}">
                            Manage TimeTable
                        </a>
                        <!-- Bootstrap Modal -->


                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}